---
layout: default
---

<div class="row">
  <div class="large-12 columns">
    <header class="post-header">
      <h2>
      <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </h2>
      <hr/>
      <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</p>
      <p>{% if page.categories %}Filed to: <span style="text-transform: uppercase;">{{ page.categories | array_to_sentence_string }}</span>{% endif %}</p>
    </header>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    {{ content }}
    <br/>
    <br/>
    <p><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x2F24680DD072A98E" style="color: red;">Public key</a></p>
    <p>Key fingerprint = 73AF F107 CD6A A099 1A46  D9C8 2F24 680D D072 A98E</p>
    <br/>
    <br/>
    <br/>

  </div>
  <div class="large-4 columns">
    <h4><i class="fa fa-thumbs-o-up"></i> Share</h4>
    <ul class="side-nav">
      <li><a href=""><i class="fa fa-link"></i> permalink</a></li>
      <li><a target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li class="tw"><a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ post.url | prepend: site.baseurl }}&via=kevindickerson"><i class="fa fa-twitter"></i> twitter</a></li>
      <li><a href="/feed.xml"><i class="fa fa-rss"></i> rss feed</a></li>
    </ul>
    <br/>
    <h4><i class="fa fa-share"></i> Connect</h4>
    <ul class="side-nav">
      <li><a href="https://twitter.com/kevindickerson"><i class="fa fa-twitter"></i> @kevindickerson</a></li>
      <li><a href="https://github.com/kevindickerson"><i class="fa fa-github"></i> kevindickerson</a></li>
      <li><a href="mailto:kevin.dickerson@protonmail.ch"><i class="fa fa-envelope-o"></i> kevin.dickerson@protonmail.ch</a></li>
      <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x2F24680DD072A98E"><i class="fa fa-key"></i> Public key</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" style="height: 2cm;">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_shortname }}';
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript"> comments.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by<span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</div>

